.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    display: flex;
    justify-content: center;
    text-align: center;
    outline: 0;
    border-width: 0 0 2px;
    border-color: black;
    height: 3vw;
    font-size: 1.2vw;
    font-weight: bold;
    font-family: Roboto Slab;
    letter-spacing: 4px;
    background: transparent;
    z-index: 1;
    overflow: visible;

}

@media only screen and (max-width: 1000px) {

    .react-datepicker-wrapper,
    .react-datepicker__input-container,
    .react-datepicker__input-container input {

        font-size: 2vw;
    }
}